<section class="error-message">
	<div class="css-4e52iy">
    <div>
    <span class="css-1msjh1x">
      <div> // 404 page not found.</div> 
      </span> <br>
      <span class="css-7b7t20"> 
        <span class="css-lg4rbf">if </span> (<span class="css-160qa5y">!</span> <span class="css-dd1th3">found</span>) {</span>  <br>
        <span class="css-tdc6bi">
        <span class="css-3bn04p">throw</span>(<span class="css-1u7xrvk">"(╯°□°)╯︵ ┻━┻"</span>);<br>
  }
  </span><br><span class="css-1msjh1x"><a href="/">// Go Home</a></span></div></div>
</section>
